⁠NEXT_PUBLIC_FILE_URL=https://bucket.okejobhub.fun ⁠
NEXT_PUBLIC_BASE_URL=https://api.okejobhub.fun/api/v1
NEXT_PUBLIC_BASE_URL_RECOGNITION=https://face.okejobhub.fun/api/v1
BASE_URL_EMPLOYEE=https://api.okejobhub.fun/api